<div>
	<div> <h1> Welcome to the Scheduler </h1> </div>

<!-- 	<div class="test"> {{test}} </div>
 -->
	<div class='container'>
		<input type="text" placeholder="username" ng-model='username'> <br />
		<input type="text" placeholder="password" ng-model='password'> <br />
		<button ng-click="localLogin()"> Login </button> <br />
		<button class='btn btn-default' ng-click="googleLogin()"> Google </button> <br />
		<button class='btn btn-primary'  ng-click="facebookLogin()"> Facebook </button> <br />
		<button class='btn btn-success'  ng-click="twitterLogin()"> Twitter </button> <br />
		<button class='btn btn-info'  ng-click="instagramLogin()"> Instagram </button> <br />
		<button class='btn btn-warning'  ng-click="githubLogin()"> Github </button> <br />
		<a href="Register"> Register </a>
	</div>


</div>