<div>
	<div> <h1> Welcome to the Scheduler </h1> </div>

<!-- 	<div class="test"> {{test}} </div>
 -->
	<div class='container'>
<!-- 		<input type="text" placeholder="username" ng-model='username'> <br />
		<input type="text" placeholder="password" ng-model='password'> <br />
		<button ng-click="localLogin()"> Login </button> <br /> -->
		<a href='/auth/google'> <button class='btn btn-default' ng-click="googleLogin()"> Google </button> </a> <br />
<!-- 		<a href='/auth/facebook'> <button class='btn btn-primary'  ng-click="facebookLogin()"> Facebook </button> </a> <br />
		<a href='/auth/twitter'> <button class='btn btn-success'  ng-click="twitterLogin()"> Twitter </button> </a> <br />
		<a href='/auth/instagram'> <button class='btn btn-info'  ng-click="instagramLogin()"> Instagram </button> </a> <br />
		<a href='/auth/github'> <button class='btn btn-warning'  ng-click="githubLogin()"> Github </button> </a> <br /> -->
		<a href="Register" class='register'> Register </a>
	</div>


</div>