html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 2em;
}

.test {
	border: 1px solid black;
	padding: 1em;
}

//AUTH HTML
.loginButton {
	display: inline-block;
	width: 10%;
	float: left;
	margin: 2em;
}

.register {
	margin: 1em;
}

//USER HTML
.userPage {
	text-align: center;
	margin: 0 auto;
}

.profileImage {
	height: 10em;
	width: 10em;
}


//CALENDAR HTML
.calendar-view {
	text-align: center;
}

.time {
	width: 10%;
	text-align: center;
}

.day {
	width: 15%;
	border: 1px dashed black;
	text-align: center;
}


//GOOGLE CALENDAR HTML
iframe {
	float: left;
	margin: 0 auto;}
}