html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 2em;
}

.test {
	border: 1px solid black;
	padding: 1em;
}

.loginButton {
	display: inline-block;
	width: 10%;
	float: left;
	margin: 2em;
}

.register {
	margin: 1em;
}

.userPage {
	text-align: center;
	margin: 0 auto;
}

.profileImage {
	height: 10em;
	width: 10em;
}

.time {
	width: 10%;
}

iframe {
	float: left;
	margin: 0 auto;}
}