html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 2em;
}

.test {
	border: 1px solid black;
	padding: 1em;
}

.loginButton {
	display: inline-block;
	width: 10%;
	float: left;
	margin: 2em;
}
